*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(255, 196, 0);
  }
  .header{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: -webkit-radial-gradient(#535353, #000000);
      box-shadow: 5px 0px 5px 3px rgb(0, 0, 0);
    }
    
    .container span {
      font-size: 110pt;
      font-weight: bold;
      position: relative;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      
    }
    .container span::before {
      content: var(--l);
      position: absolute;
      transform: scale(1.1);
      filter: blur(5px);
    }
    .container span::after {
      content: var(--l);
      position: absolute;
      height: 100%;
      width: 500px;
      top: 80%;
      left: 0;
      filter: blur(30px);
      transform: rotateX(50deg);
    }
    
    .container span:hover {
      filter: contrast(250%);
    }
    .container span:nth-child(1) {
      color: #fcce01;
    }
    .container span:nth-child(2) {
      color: #fcce01;
    }
    .container span:nth-child(3) {
      color: #fcce01;
    }
    .container span:nth-child(4) {
      color: #fcce01;
    }
    .container span:nth-child(5) {
      color: #fcce01;
    }
    .container span:nth-child(6) {
      color: #fcce01;
    }
    .container span:nth-child(7) {
        color: #fcce01;
      }
  
  
    
  /*MENU*/
  
  
  
  /* ESTILOS PARA EL ICONO DEL MENU*/
  
  .icono-menu{
      margin: 25px 25px;
      position: relative;
      z-index: 10;
    }
    .icono-menu img{
    vertical-align: top;
    width: 30px;
    cursor: pointer;
    }
    
    
    /*ESTILOS PARA EL CONTENEDOR DEL MENU*/
    
    .cont-menu{
      background-color: rgb(36, 36, 36);
      box-shadow: 2px 0px 5px 3px rgb(0, 0, 0);
      width: 300px;
      height: 108vh;
      position: absolute;
      top: 502px;
      left: 0;
      transition: all .5s ease;
      font-family: sans-serif;
    }
    
    /*ESTILOS PARA EL LISTADO DEL MENU
    dfdfdffdf
    dfdffdf*/
    
    .menuu  {
      list-style: none;
      margin-top: 80px;
    }
    
    .cont-menu ul li  {
      color: rgb(253, 249, 4);
      display: block;
      font-size: 20px;
      text-decoration: none;
      padding: 15px 20px;
      bottom: 100px;
      cursor: pointer;
    }
    .cont-menu ul li a  {
      color: rgb(253, 249, 4);
      text-decoration: none;
    }
    
    
    .lista ul li:hover{
      display: block;
    
    
    }
    
    .cont-menu ul li:hover{
      /* background-color: rgb(255, 196, 0); */
      color: rgb(255, 255, 255);
      
    }
    .cont-menu ul li a:hover{
      /* background-color: rgb(255, 196, 0); */
      color: rgb(255, 255, 255);
      
    }
    .cont-menu ul li ul {
      display: none;
    }
    
      
    .cont-menu li:hover ul {
      display: block;
      
    }
    
    
    
    
    /*ESTILOS POR AGREGAR EN JAVASCRIPT*/
    
    .active{
      transform: translate(-600px);
    }
    .opacity{
      transition: all .5s ease;
    }

    section{
      height: 100vh;
    }
    
    .footer{

      float: unset;
      background-color:rgb(36, 36, 36) ;
      width: 100%;
      height: 100px;
      
      box-shadow: 5px 0px 5px 3px rgb(0, 0, 0);
  }
  
  
  .desc-footer{
      color:rgb(255, 196, 0) ;
      text-align: center;
  }